extend layout
block content
  each item in quotes
    div.alert.alert-warning.alert-dismissible.fade.show(role="alert") 
      button.close(type="button" name="_id" data-dismiss="alert" aria-label="Close" data-id="#{item._id}")
        span(aria-hidden="true") &times;
      p= item.quote
        |...
        strong.badge.badge-default=item.name 
      
block sidebar
  .widget
    h1 Form
    p
      | Below is a form,it consists of name and
      | quote fields please fill appropriatly.
    form(action="/quotes" method="POST")
      input(type="text" id="name" name="name" aria-describedby="name" placeholder="Enter name")
      textarea(id="quote" name="quote" aria-describedby="quote" placeholder="Quote")
      button.btn.btn-sm.btn-link(type="submit") submit
        
